In [0]:
import pandas as pd
import numpy as np

In [145]:
df = pd.read_csv("/content/Personality Quiz - cleaned_responses.csv")
df.head()

                                        Hobby  ...                                           Missions
0  Reading,Writing,Sports,TV Shows,Journaling  ...  Exercise more,Learn a new sport,Practice techn...
1  Meditation,Reading,Movies,Trekking,Jogging  ...  Learn spiritual sciences,Practice technical sk...
2                                    Reading   ...                                            Reading
3                                         NaN  ...     Practice coding,Learn new programming language
4                 Reading,Writing,Socialising  ...  Read a book,Build personal relationships,Do ad...

[5 rows x 4 columns]

In [0]:
hobby = list(df["Hobby"])
passion = list(df["Passion"])
goal = list(df["Goal"])
mission = list(df["Missions"])

In [0]:
# Generating list of traits and missions in the dataset

traits = []
for i in range(len(hobby)):
  h = hobby[i]
  try:
    h_list = h.split(",")
    hobby[i] = h_list
    traits.extend(h_list)
  except:
    continue

for i in range(len(passion)):
  p = passion[i]
  try:
    p_list = p.split(",")
    passion[i] = p_list
    traits.extend(p_list)
  except:
    continue

for i in range(len(goal)):
  g = goal[i]
  try:
    g_list = g.split(",")
    goal[i] = g_list
    traits.extend(g_list)
  except:
    continue

missions = []
for i in range(len(mission)):
  m = mission[i]
  try:
    m_list = m.split(",")
    mission[i] = m_list
    missions.extend(m_list)
  except:
    continue

In [0]:
# Generating unique traits and missions in dataset

trait_set = set(traits)
mission_set = set(missions)

In [0]:
# Generating indices for trait-mission matrix

from collections import defaultdict

trait_index = defaultdict(int)
mission_index = defaultdict(int)
reverse_mission_index = defaultdict(int)

i = 0
for t in trait_set:
  trait_index[t] = i
  i += 1

i = 0
for m in mission_set:
  mission_index[m] = i
  reverse_mission_index[i] = m
  i += 1

In [150]:
M = np.zeros((len(trait_set),len(mission_set)))
M.shape

(83, 32)

In [151]:
# Generating trait-mission matrix

for i in range(len(mission)):
  try:
    for h in hobby[i]:
      for m in mission[i]:
        M[trait_index[h]][mission_index[m]] += 1
  except:
    continue
  try:
    for p in passion[i]:
      for m in mission[i]:
        M[trait_index[h]][mission_index[m]] += 1
  except:
    continue
  try:
    for g in goal[i]:
      for m in mission[i]:
        M[trait_index[h]][mission_index[m]] += 1
  except:
    continue

M

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [0]:
# # Normalizing column values 

# for i in range(M.shape[1]):
#   sum = M[:, i].sum()
#   for j in range(M.shape[0]):
#     M[j, i] = M[j, i]/sum

In [154]:
def return_missions(user_traits):
  user_vector = np.zeros(M.shape[1])
  for trait in user_traits:
    user_vector += M[trait_index[trait]]

  print(user_vector)

  user_missions = []
  while user_vector[user_vector.argmax()] != 0:
    i = user_vector.argmax()
    user_missions.append(reverse_mission_index[i])
    user_vector[i] = 0

  print(user_missions)


test_user = ['Reading', 'Writing']
return_missions(test_user)

[ 8.  0.  0. 30.  3.  4.  1.  3.  0.  7.  6.  3.  5.  1.  8.  2.  1.  1.
  2.  0. 10.  3.  1.  0.  5.  2.  4.  4.  7.  0.  0.  1.]
['Read a book', 'Build personal relationships', 'Help a charity', 'Write a book', 'Make a travel map', 'Exercise more', 'Learn Cooking', 'Make career plan', 'Learn to play an instrument', 'Practice Basketball', 'Learn Leadership', 'Create content in field of interest', 'Practice coding', 'Learn new programming language', 'Practice technical skills', 'Have brainstorming sessions for dream company', 'Learn something new', 'Learn a new sport', 'Do adventure sports', 'Listen to a Audiobook', 'Take up a new project', 'Learn a new dance form', 'Learn spiritual sciences', 'Learn Real Estate', 'Time management']